.qr-code {
  /* position: relative; */
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
.tab-0 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 70%;
  margin: 0% 15%;
  background-color: aliceblue;
  border-radius: 20px;
  margin-bottom: 20%;
}
p {
  text-align: center;
  /* width: 50%;
  position: relative;
  left: 26%; */
}
body {
  background-color: #a6cde2;
}
h1 {
  color: rgb(53, 53, 189);
}
.tab-1,
.tab-2,
.tab-3,
.tab-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 20px;
  /* width: 70%; */
  width: 800px;

  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

#tab-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: aliceblue;
  border-radius: 20px;
  padding-bottom: 30px;
  height: 400px;
  /* width: 70%; */
  width: 800px;

  margin: 80px 0px;
  height: 100%;
}
#tab-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
  background: aliceblue;
  border-radius: 20px;

  margin: 80px 0px;

  width: 800px;
}
.cardContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#tab-3 {
  margin: 80px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background: aliceblue;
  border-radius: 20px;
  height: 400px;

  width: 800px;
}
#tab-1 {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 80px;
  flex-direction: column;
  align-items: center;
  align-items: center;
  background: aliceblue;
  border-radius: 20px;
  padding-bottom: 20px;
  height: 400px;
  width: 800px;
}
#tab-0 {
  display: flex;
  margin: 20px 0px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: center;
  background: aliceblue;
  border-radius: 20px;
  height: 400px;
  width: 800px;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  gap: 200px;

  margin: 40px;
}
#tab-1,
#tab-2,
#tab-3,
#tab-4 {
  display: none;
}
#next {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  position: fixed;
  right: 49%;
  bottom: 50px;
  z-index: 1;
}
#next:focus {
  transform: scale(1.1);
  background-color: antiquewhite;
}
#chaise input {
  /* display: none; */
}

.user-info {
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 20px;
  border: 5px solid red;
}
.qr-code {
  display: flex;
  flex-direction: column;
  border-top: 5px solid black;
}
.qr-code img {
  width: 100px;
}

/*-------------------------------------------------------------------------*/

.test {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;

  width: 50%;

  justify-content: center;
  /* align-items: center; */
  height: 200px;
}
tab-4 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.ticket {
  padding: 10px;
  background-color: #f8c021;
  grid-column: 5 span;
  border-radius: 10px 0px 0px 0px;
}
.busness {
  padding: 10px 0px 0px 0px;
  background-color: #f8c021;

  border-radius: 0 10px 0 0;
}
.flight {
  margin-top: -20px;
}
.passenger {
  margin-top: -20px;
  padding: 0 0 0 7px;
  width: 100px;
}
.date {
  margin-top: -20px;
  margin-left: 10px;
}
.departe {
  margin-top: -20px;
  margin-left: 10px;
}
.arrete {
  margin-top: -20px;
  margin-left: 10px;
}
.qrCode {
  margin-top: -5px;

  height: 90px;
  grid-column: 6;
}
.qrCode img {
  transform: rotate(90deg);
  width: 115px;
}
.from {
  margin-top: -20px;
  margin-left: 10px;
}
.bg {
  grid-column: 4 span;
  background-color: #f8c021;
  width: ;
  height: 12px;
  margin-right: 10px;
  margin-right: 10px;
}
.bgr {
  grid-column: 2 span;

  background-color: #f8c021;
  width: ;
  height: 12px;
}
.des {
  color: rgb(197, 128, 38);
  font-size: 13px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*-------------------------------------------------------------*/

/* 

/*-------------------------------------------------------------*/
